{:paths ["src" "dev" "notebooks"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:git/sha "fad499407d979916d21b33cc7e46e73f7a485e37"}
        io.github.mentat-collective/clerk-utils {:git/sha "c9523f2879cd28a0801b918ada1c27ffc49b00e2"}}
 :aliases
 {:nextjournal/clerk
  {:extra-deps
   {io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     ;; make sure this sha matches the one in `:deps` above.
     :git/sha "fad499407d979916d21b33cc7e46e73f7a485e37"
     :deps/root "render"}}
   :exec-fn user/build!}}}
